#choice_wrapper {
	display: table;
	margin: 0px auto;
}

.fader {	
	display: none;
}

.choice {
	margin-left: 20px;
	padding: 10px;
}

.vert {
	position:absolute;
	margin-top:20px;
	margin-bottom: 20px;
}